@-webkit-keyframes sailin {
  0%   { background-position: left 0 bottom 5% }
  100% { background-position: left 9999px bottom 5% }
}
@keyframes sailin {
  0%   { background-position: left 0 bottom 5% }
  100% { background-position: left 9999px bottom 5% }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Open Sans, sans-serif;
  overflow-x: hidden;
}
a { 
  color: #00A3DA;
  text-decoration: none;
  -webkit-transition: background .025s ease-in-out, color .025s ease-in-out;
  -moz-transition: background .025s ease-in-out, color .025s ease-in-out;
  transition: background .025s ease-in-out, color .025s ease-in-out;
}
p {
  font-family: Open Sans, sans-serif;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
}
h1, h2, h3, .primary a {
  font-family: Klinik, serif;
}
ul {
  list-style: none;
  padding: 0;
}
.wrap {
  margin: 0 auto;
  max-width: 60em;
  padding: 1em;
}
.sidebar {
  background: #fae06e;
  padding: 1em;
  text-align: center;
}
.rsvp {
  border: solid #3b3b3b;
  overflow: auto;
  color: #3b3b3b;
}
.rsvp h2 {
  font-size: 1.3em;
}
.rsvp .paul {
  float: right;
}
.rsvp p {
  margin-bottom: 0
}
.rsvp p a { 
  display: block;
  margin: 1em 0;
}
.a11y-hide {
  color: transparent;
  display: block;
  font-size: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}
img {
  max-width: 100%;
}
.sitehead {
  background: #fae06e;
  padding-bottom: 4%;
}
.logo {
  background: url(../img/charles.png) left -20% bottom 5% repeat-x;
  background-size: 90% auto;
  padding: 5% 5% 6.5% 5%;
  position: relative;
  margin: 0 0 5% 0;
  -webkit-animation: sailin 2000s linear infinite;
  animation: sailin 2000s linear infinite;
}
.logo:before,
.logo:after {
  content: "";
  display: block;
  width: 4%;
  position: absolute;
  top: 0;
  bottom: 0;
}
.logo:before {
  background: -webkit-linear-gradient( 90deg, #fae06e, rgba(255,255,255,0));
  background: linear-gradient( 90deg, #fae06e, rgba(255,255,255,0));
  left: 0;
}
.logo:after {
  background: -webkit-linear-gradient( -90deg, #fae06e, rgba(255,255,255,0));
  background: linear-gradient( -90deg, #fae06e, rgba(255,255,255,0));
  right: 0;
}
.primary {
  margin-bottom: 1px; /* fixes a Chrome rounding error */
  text-align: center;
  width: 100%;
}
.primary:after {
  clear: both;
  content: "";
  display: block;
}
.primary a, .sidebar a.call {
  border: solid #3b3b3b;
  border-width: 2px 2px 2px 2px;
  color: #FBDF66;
  font-weight: bold;
  font-size: 1.1em;
  text-transform: uppercase;
  min-width: 50%;
  padding: .2em.5em;
  background: #3b3b3b;
}
.primary a:hover, .sidebar a.call:hover {
  background: #FBDF66;
  color: #3b3b3b;
}
.sidebar a.call {
  padding: 0.2em 2em;
}
.sitehead img {
  display: block;
  margin: 0 auto;
}
.eventhead {
  margin-bottom: 2em;
}
.event {
  margin-top: 1em;
  margin-bottom: 0;
}
.event .meta {
  font-family: Open Sans, sans-serif;
  font-size: .7em;
  display: block;
}
.event .num {
  background: #ffeb94;
  display: inline-block;
  font-family: Klinik, serif;
  font-weight: bold;
  font-size: 1.2em;
  padding: 0 .1em; 
}
.past-events ul {
  margin: .25em 0em 2em 0em;
}
.speaker {
  overflow: auto;
}
.speaker img {
  float: left;
  margin: 0 1em 1em 0;
}
.speaker .title {
  font-size: 1.3em;
  font-weight: bold;
  font-family: Klinik, serif;
}
.sponsors {
  margin-top: 4em;
  clear: both;
}
.title-hed {
  background: #ffeb94;
  display: inline-block;
  margin-left: -40em;
  padding: .3em .75em .25em 40em;
}
.logos {
  clear: both;
  text-align: center;
  margin: 1em 0 3em 0;
}
.logos img {
  display: inline-block;
  width: 450px;
}
.sponsor-call {
  display: block;
  font-family: Open Sans, sans-serif;
  text-align: center;
}
.coc {
  background: #eee;
  padding: 1em 0;
  margin-top: 1em;
}
.coc p {
  line-height: 1.4;
  margin: 1.5em auto 1.4em auto;
  max-width: 350px;
  text-align: center;
  width: 90%;
}

.foot {
  background: #3b3b3b;
  margin: 0;
  padding: .85em 0 .75em 0;
}
.foot p {
  color: #ddd;
  display: block;
  font-size: .8em;
  margin: 0;
}
form label{
  display: block;
  margin-bottom: .3em;
}
form input, form textarea {
  border: 1px solid rgb(197, 197, 197);
  padding: .8em .6em;
  font-size: .8em;
  width: 100%;
}
form fieldset.info {
  overflow: auto;
  clear: both;
  border: none;
  padding: 0;
  margin: 0;
}
form .field {
  margin: 0 1em 1em 0;
  width: 100%;
}
form button {
  border: none;
  background: #00A3DA;
  color: white;
  font-size: 1em;
  padding: .8em 2em;
  margin-top: 1em;
  cursor: pointer;
}
form button:hover {
  background: #0294C5;
}

@media ( min-width: 25em ) {
  .primary a { 
    border-width: 3px;
  }
}

@media ( min-width: 40em ) {
  .primary {
    border: none;
  }
  .primary a,
  .primary a:nth-child(odd) {
    border-width: 4px;
    width: auto;
    margin: 0 .5em;
    min-width: 1px;
    padding: .5em 4.5em .45em 4.5em;
  }
  .col-left {
    width: 70%;
    float: left;
    padding-right: 2em;
  }
  .sidebar {
    width: 30%;
    float: right;
    margin-top: 1.5em;
  }
  .paul {
    background-image: url(../img/paul-revere.jpg);
    width: 185px;
    height: 134px;
  }
}
