doctype html(lang='en')
html
head
    meta(charset='utf-8')
    title= config.game_name
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet/less', href='/css/main.less')

    meta(name='description', content='Who Said It Best')
    link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/0.13.1/JSXTransformer.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/less.js/2.4.0/less.min.js')

  body
    include ./partials/header
    block content
    include ./partials/footer
